# Операционные системы
.DS_Store
Thumbs.db

# Логи
*.log

# Папки для сборки .NET
bin/
obj/

# Временные файлы IDE
.vs/
.idea/
.vscode/

# Папки для кэшированных данных и сборки
publish/

# Файлы настроек, которые не должны попасть в репозиторий
*.user
*.suo
*.userosscache
*.sln.docstates

# Папки с настройками и файлами, которые могут быть специфичными для пользователей
.idea/
.vscode/

# Не отслеживаем файлы настроек и временные данные
App_Data/